snippet html
	<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:tal="http://xml.zope.org/namespaces/tal"
		xmlns:metal="http://xml.zope.org/namespaces/metal"
		xmlns:i18n="http://xml.zope.org/namespaces/i18n"
		metal:use-macro="master.macros['master']"
	  >
		<head>
		</head>
		<body>
			<div metal:fill-slot="main">
				${1}
			</div>
		</body>
	</html>

